/*
    Document   : aerispos
    Created on : Apr 21, 2011, 11:37:39 AM
    Author     : eric
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

br {
	clear: both;
}

.clickable {
	cursor: pointer;
}

.left {
	float: left;
	width: 33%;
}

.right {
	float: right;
	width: 33%;
}
