body {
	margin: 0.4em 4em;
}

section.previous-releases {
	margin-left: 2em;
}

.release {
	margin: 0.8em 0.2em;
	position: relative;
}

.release span {
	position: absolute;
	top: 0.6em;
	right: 0.9em;
	font-style: italic;
	font-size: 90%;
}

.release h2 {
	margin: 0.4em 0.6em;
}

.release .notes {
	margin: 0.4em 0.4em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}
