<form method="post" action="queryGenerator/upload/" enctype="multipart/form-data">
	Select CSV file to use: <input type="file" name="csvFile" /><br />
	<input id="submit" type="submit" value="Upload File" />
</form>